{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <section class="ticket-section section-padding">
       <div class="section-overlay"></div>

       <div class="container">
            <div class="card text-bg-light mb-3">
                    
                <div class="card-body">
                    <h4 class="text-center mb-4">Order History</h4>
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            {% if orders %}
                            {% for order in orders  %}
                                <div class="card text-bg-light mb-3">
                                    <div class="card-header">
                                        <h7><center><strong>Order ID :</strong> {{order.order_id|truncatechars:10}}</center></h7>
                                      </div>
                                      <div class="card-body">
                                        <table class="table">     
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Product</th>
                                                    <td>{{order.product.name}}</td>
                                                </tr>
                                            <tr>
                                                <th scope="row">Quantity</th>
                                                <td>{{order.quantity}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Price</th>
                                                <td>{{order.product.price}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Order date</th>
                                                <td>{{order.date_ordered}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Paid?</th>
                                                <td>{{order.paid}}</td>
                                            </tr>
                                            
                                            <tr>
                                                <th scope="row">Status </th>
                                                <td>Pending...</td>
                                            </tr>
                                            
                                            
                                            </tbody>
                                            
                                        </table>
                                        <center><a href="{% url 'checkout' order.order_id %}" class="btn btn-outline-primary">Go To order</a></center>
                                    </div>
                                </div>
                            {% endfor %}
                            {%else%}
                            <h8><center>You have no previous orders. To make an order visit the <a href="{% url 'home' %}"><strong>Home</strong></a> page</center></h8>
                            {% endif %}
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        
       </div>
        </div>
    </section>
</main>
{% endblock %}