{% extends 'base.html' %}
{% block content %}
{% load static %}
    <main>
        <section class="ticket-section section-padding">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="card text-bg-light mb-3">
                    <h2 class="text-center mb-4">Dashboard</h2>
                    
                    <div class="card-body">
                        <p class="text-center mb-4">Track your Usage Here</p>
                    </div>
                  </div>
                
            </div>
            </div>
        </section>
    </main>
{% endblock content %}