<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    



    <!--
      datatables
    -->
    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/r-2.4.0/datatables.min.css"/>

    <title>Real-time directions on Google Maps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  
  </head>
  <body>
    </div>
   
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Reserve<span>space</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="" class="nav-link">Home</a></li>
	          <li class="nav-item "><a href="" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="" class="nav-link">Pricing</a></li>
            <li class="nav-item active"><a href="" class="nav-link">View bookings</a></li>
            <li class="nav-item"><a href="" class="nav-link">View payments</a></li>
	          <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
            
            
            {% if user.is_authenticated and user.is_customer %}
					  <li class="nav-item"><a href="" class="nav-link">logout</a></li>
					  {% endif %}
            
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" data-stellar-background-ratio="0.5">
      
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Direction</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section" id="book">
      <center>
      <div class="form-inline">
        <form action="" class="form-horizontal">
          <div class="form-group">
            <label for="from" class="col-xs-2 control label">
              <i class="far fa-dot-circle"></i>
              <div class="col-xs-4">
                <input type="text" id="from" placeholder="Origin" class="form-control">
              </div>
            </label>
          </div>
          <div class="form-group">
            <label for="to" class="col-xs-2 control label">
              <i class="fas fa-map-marker-alt"></i>
              <div class="col-xs-4">
                <input type="text" id="to" placeholder="Destination" class="form-control" value="{{location}}">
              </div>
            </label>
          </div>
        </form>
        <div class="col-xs-offset-2 col-xs-10">
          <button class="btn btn-info btn-lg" onclick="calcRoute()">
            <i class="fas fa-directions"></i> 
          </button>
        </div>
      </div>
    </center>

    <button id="startButton" onclick="startTracking()">Start</button>

      
    <div class="container">
      <div id="output"></div>
    </div>
      <div class="container">
        <div id="map" style="height: 400px;"></div>
      </div>
    </section>


    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <!--datatables-->

<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/r-2.4.0/datatables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDBq8Dq8LSysLUuMa80PVsOqO2ZA33AZWw&libraries=places"></script>

<script>
  
  var mylating={
    lat: 38.3460, lng: -0.4907
  };
  var marker = new google.maps.Marker({
    position: mylating,
    map: map,
    icon: {
        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
        strokeColor: "#FF0000",
        scale: 5
    },
    title: "Current location"
});


  //method to get users location and pass the longitude and latitude to my maps? 
  var mapOptions={
    center:mylating,
    zoom:13,
    maTypeId:google.maps.MapTypeId.ROADMAP
  };

  //create map
  getCurrentLocation()
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);

  //Create a directions service object to use thr route method

  var directionsService = new google.maps.DirectionsService();

  //create a directions rendere object which we will use to display

  var directionsDisplay= new google.maps.DirectionsRenderer();

  //bind the directions rendere to the map

  directionsDisplay.setMap(map);

  //function
  function startTracking() {
  if (navigator.geolocation) {
    navigator.geolocation.watchPosition(function(position) {
      var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      
      // Set the marker icon to a circle with the heading of travel
      marker.setIcon({
        path: google.maps.SymbolPath.CIRCLE,
        scale: 5,
        fillColor: '#000',
        fillOpacity: 0.8,
        strokeColor: '#fff',
        strokeWeight: 2,
        rotation: position.coords.heading
      });
      
      marker.setPosition(latLng);
      map.setCenter(latLng);
      map.setZoom(15);
      calcDirection(latLng);
    });
  } else {
    alert("Geolocation is not supported by this browser.");
  }
}



function calcDirection(latLng) {
    var request = {
        origin: latLng,
        destination: document.getElementById("to").value,
        travelMode: google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            var distance = result.routes[0].legs[0].distance.text;
            var duration = result.routes[0].legs[0].duration.text;
            var direction = result.routes[0].legs[0].steps[0].instructions;
            var output = document.querySelector("#output");
            output.innerHTML = "<div class='alert-info'>Distance: " + distance + ".<br>Duration: " + duration + ".<br>Direction: " + direction + ".</div>";
        } else {
            output.innerHTML = "<div class='alert-danger'>Could not retrieve driving directions.</div>";
        }
    });
}

  function calcRoute(){
      //get users current location
      marker.setPosition(null);
    navigator.geolocation.clearWatch(null);
      //create request
      var request={
        origin:document.getElementById("from").value,
        destination:document.getElementById("to").value,
        travelMode:google.maps.TravelMode.DRIVING,
        unitSystem: google.maps.UnitSystem.IMPERIAL 

      }

      //pass the request to the route method
      directionsService.route(request, (result, status) => {
        if(status == google.maps.DirectionsStatus.OK){
          //get distance and time
          const output = document.querySelector('#output');
          output.innerHTML = "<div class='alert-info'>from: " + document.getElementById("from").value + ".<br> To: " + document.getElementById("to").value + ". <br> Driving distance  <i class='fas fa-road'></i>:" + result.routes[0].legs[0].distance.text + ".<br> Duration:" + result.routes[0].legs[0].duration.text + ".</div>"; 
        

          //display route
          directionsDisplay.setDirections(result);
        }else{
          //delete route from map
          directionsDisplay.setDirections({routes:[]});

          //map center
          map.setCenter(mylating);

          //show error message
          output.innerHTML="<div class='alert-danger'><i class='fas fa-exclamation-triangle'></i>could not retrive driving distance.</div>";
        }
      });
  

  }

  //get user current location

  function getCurrentLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      (position) => {
        // Reverse geocode the coordinates to obtain the place name
        const geocoder = new google.maps.Geocoder();
        const currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        geocoder.geocode({ 'latLng': currentLocation }, (results, status) => {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[0]) {
              // Set user's current location as the origin
              const currentLocationName = results[0].formatted_address;
              document.getElementById("from").value = currentLocationName;
              // Call the calcRoute() function with updated origin
              calcRoute();
            } else {
              alert("No results found");
            }
          } else {
            console.log(status);
            alert("Geocoder failed due to: " + status);
          }
        });
      },
      (error) => {
        console.log(error);
        alert("Unable to retrieve your location");
      }
    );
  } else {
    alert("Geolocation is not supported by this browser");
  }
}

  //create autocomplete objects for all input
  var options ={
    types:['(cities)']
  }

  var input1=document.getElementById("from");
  var autocomplete1 = new google.maps.places.Autocomplete(input1, options);

  var input2=document.getElementById("to");
  var autocomplete2 = new google.maps.places.Autocomplete(input2, options);
  
</script>
  </body>
</html>
