{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <span>Rureri</span> Traders
        </a>
        <link rel="icon" type="image/x-icon" href="{% static 'images/RT-logo.jpg' %}"> 

        {% if user.is_authenticated%}
                {% comment %} <a href="ticket.html" class="btn custom-btn d-lg-none ms-auto me-4">Buy Ticket</a> {% endcomment %}

                
            <li class="nav-item dropdown click-scroll d-lg-none ms-auto me-4">
                <a class="nav-link dropdown-toggle" href="#" role="button" class="btn btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{user.profile.pic.url}}" class="rounded-circle" height="30" width="30"> {{user|upper}}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{% url 'account' %}">Account</a></li>
                    <li><a class="dropdown-item" href="{% url 'account' %}">Dashboard</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    
                </ul>
            </li>
        {% else %}
            <a href="{% url 'login' %}" class="btn custom-btn d-lg-none ms-auto me-4">Login</a>
        {% endif %}

        

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="">About</a>
                </li>
                <li class="nav-item">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search products here" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </li>
                

                {% comment %} <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_3">Artists</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_4">Schedule</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_5">Pricing</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_6">Contact</a>
                </li> {% endcomment %}
                
            </ul>
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                {% if user.is_authenticated%}
                <li class="nav-item dropdown d-lg-block d-none click-scroll">
                    <a class="nav-link dropdown-toggle" href="#" role="button" class="btn btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{user.profile.pic.url}}" class="rounded-circle" height="30" width="30"> {{user|upper}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'account' %}">Account</a></li>
                        <li><a class="dropdown-item" href="{% url 'account' %}">Dashboard</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        
                    </ul>
                </li>
                {% else %}
                    <a href="{% url 'login' %}" class="btn custom-btn d-lg-block d-none">Login</a>
                {% endif %}
            </ul>
            
            
        </div>
    </div>
</nav>