{% extends 'base.html' %}
{% block content %}
    <main>
         <section class="ticket-section section-padding">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-10 mx-auto">
                        <form class="custom-form ticket-form mb-5 mb-lg-0" method="POST">
                            {% csrf_token %}
                            <h2 class="text-center mb-4">Registration Page</h2>
                            {% for field in form  %}
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{{field.label}}</label><br>
                                    {{field}}
                                    {{field.errors}}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Register</button>
                            <p class="text-center mb-4">Already have an account?</p>
                            <center><a href="{% url 'login' %}" type="button" class="btn btn-outline-primary">Login</a></center> 
                          </form>
                          
                    </div>
                </div>
        </section>
    </main>
{% endblock content %}
